body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
}

/*HERO-SECTION*/
.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /*width: 200px;*/
    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin: 0px;
}

p {
    margin: 0px;
    font-weight: 300;
    font-size: 30px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #d0552c;
}

.button:active {
    background-color: #f30909;
    color: #050505;
}

/*SOCIALS*/
.socials {
    padding-bottom: 200px;
}

.logo {
    height: 100px;
    margin: 20px 30px;
}

.social {
    margin: 20px;
}

/*SECOND-SECTION*/
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

h2 {
    font-size: 50px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

/*PROJECT-SECTION*/
.project-card {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(174, 174, 174);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
} 

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}
/*FOOTER-SECTION*/
footer {
    padding: 80px;
    background-color: black;
    color: white;
    text-align: center;
}

.headshot-container {
    display: flex;
    align-items: center;
}

/*FOR-ALL-ANCHOR-TAG*/
a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
